@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e3955;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0be061;
    --foreground: #dd1717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
